{% extends 'base.html' %}


{% block content %}
<br>
<div class="container">
<form class="d-flex" role="search" action="{% url 'search' %}" method="POST" >
    {% csrf_token %}
    <input class="form-control me-2" type="search" placeholder="Enter movie name" aria-label="Search" name="movie" required>
    <button class="btn btn-outline-success" type="submit">Search</button>
</form><br>
</div>
<div class="poster-container text-center">
    <h1>TOP 3 Upcoming Movies</h1><br>
    {% for movie in top3_results %}
        {% comment %} <h3>{{movie.title}}</h3> {% endcomment %}
        <form action="{% url 'movie-detail' movie.id %}" method="GET">
            <input type="hidden" name="movie_id" value={{movie.id}}>
            <input class="img-size" type="image" src={{movie.poster}} width="250" height="400">
        </form>
        
    {% endfor %} 
</div>

{% endblock %}